<section data-ng-controller="ChatController">

    <ion-content>
        <ion-list>
            <ion-item class="item item-avatar" data-ng-repeat="message in messages">
                <img ng-src="{{message.headimgurl}}">
                <h2 >
                    <span data-ng-bind="message.username"></span>
                    <span data-ng-bind="message.created | date:'mediumTime'"></span>
                </h2>
                <p data-ng-bind="message.text"></p>
            </ion-item>
        </ion-list>
    </ion-content>

    <ion-footer-bar>
        <form ng-submit="sendMessage();">
            <div class="bar bar-footer item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" data-ng-model="messageText">
                </label>
                <button class="button button-small button-positive">
                    提交
                </button>
            </div>
        </form>
    </ion-footer-bar>
</section>