<!DOCTYPE html>
<html>
<head>
    <title></title>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link rel="stylesheet" href="/lib/ionic/css/ionic.min.css" />

    <style>
        .wrapper{width:12rem;overflow:hidden;margin:0 auto;padding-bottom:1rem;padding-top:2rem;}
        .wrapper img{display:block;width:100%;}
    </style>
</head>

<body>
    <div class="wrapper">
        <img src="/img/1.png">
    </div>

    <form action="/update" method="post">
        <div class="list list-inset ">
            <label class="item item-input">
                <input type="text" placeholder="请输入您的姓名" name="realname">
            </label>
            <button class="button button-block button-positive">
                提 交
            </button>
        </div>
    </form>
</body>
</html>